@charset "UTF-8";

.home {
  .masthead {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > * {
      opacity: 0;
      animation: fade-in;
      animation-fill-mode: forwards;
      animation-duration: 0.5s;
      animation-timing-function: ease-in;

      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          animation-delay: #{$i * 0.5}s;
        }
      }
    }

    svg {
      width: 160px;
      height: 160px;
    }

    h1 {
      font-size: 24px;
      margin: 0 0 16px;
    }

    p {
      color: $secondary-color;
      line-height: 24px;
      margin: 0;
      text-align: center;
    }
  }

  .contact-action {
    text-align: center;
    height: 20vh;

    .button-wrapper {
      transform: translateY(200%);
      opacity: 0;

      animation:
        slide-up 0.5s $bounce-timing-function 3.5s forwards,
        fade-in 0.5s ease-in 3.5s forwards;
    }

    .footnote {
      color: $secondary-color;
      font-style: italic;
      font-size: 12px;
      opacity: 0;

      animation: fade-in 0.5s ease-in 4.5s forwards;
    }
  }
}
